.key-list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
}

.key-item {
    background-color: #adec8d;
    border: 1px solid black;
    padding: 4;
    margin: 6 6 0 6;
    font-size: 17px;
}