.page-title { 
    margin-bottom: 0px;
}

.label-row {
    background-color: darkgreen;
    color: white;
    height: 35px;
    font-size: 25px;
    border: 1px solid black;
    padding-left: 10px;
}

.spacer {
    height: 10px;
}

.save-btn {
    float: right;
    margin-top: 4px;
    margin-right: 15px;
}

.topic-input {
    margin-left: 20px;
}