.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page-title { 
    margin-bottom: 0px;
    flex: 0 1 auto;
}

.page-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

    .search-bar {
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        background-color: #ccffcc;
        border: 1px solid black;
    }

        .search-bar-header {
            flex: 0 1 auto;
            background-color: darkgreen;
            color: white;
            height: 30px;
            font-size: 25px;
            border: 1px solid black;
            border-bottom: 3px solid black;
            padding-right: 0px;
            padding-left: 10;
        }

        .search-bar-part {
            flex: 0 1 auto;
        }
        
        .search-bar-part div {
            padding: 5px;
        }

        .search-bar-rest {
            flex: 1 1 auto;
        }

    .search-results {
        flex: 1 1 auto;
        background-color: #dddddd;
        float: left;
        border: 1px solid black;
    }
    
    .search-results-header {
        background-color: darkgreen;
        color: white;
        height: 30px;
        font-size: 25px;
        border: 1px solid black;
        border-bottom: 3px solid black;
        padding-right: 0px;
        padding-left: 10;
    }
    
    .search-results-header-buttons {
        padding-right: 30px;
        float: right;
        padding-top: 4px;
    }
    
    .search-results-row {
        height: 30px;
        font-size: 17px;
        border-bottom: 1px solid black;
        padding: 6px 0px 0px 10px;
        background-color: #adec8d;
    }

