.search-bar {
    overflow: auto;
    width: 20%;
    background-color: #dddddd;
    float: left;
    border: 1px solid black;
}

.search-results {
    width: 20%;
    background-color: #ccffcc;
    float: left;
    border: 1px solid black;
}
